<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- Static navbar -->

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Главная страница</a></li>
                    <li><a href="/credit-cards">Кредитные карты и кредиты</a></li>
                    <li><a href="/debit-cards">Дебетовые карты</a></li>
                    <li><a href="/accounts">Счета</a></li>
                    <li><a href="/transaction">Перевод</a></li>
                    <li><a href="/deposits">Вклады</a></li>
                    <div sec:authorize="hasRole('ROLE_OPERATOR')"><li><a href="/terms">Условия</a></li></div>
                    <div sec:authorize="hasRole('ROLE_OPERATOR')"><li><a href="/admin-applies">Заявки на кредит</a></li></div>
                    <div sec:authorize="hasRole('ROLE_OPERATOR')"><li><a href="/suspicious-transaction">Подозрительные транзакции</a></li></div>
                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>