<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{resources/css/style.css}" />
    <title>Счета</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Счета</h1>
<table>
    <th>ID-счета</th>
    <th>Название счета</th>
    <th>Средства</th>
    <tr th:each="account : ${allAccounts}">
        <td th:text="${account.id}"></td>
        <td th:text="${account.name}"></td>
        <td th:text="${account.cash}"></td>
        <td>
            <a th:href="@{/account-transactions(id=${account.id})}" class="btn btn-danger">История транзакций</a>
        </td>
    </tr>
</table>
<a href="/add-account">Оформить счет</a>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>