<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Взять вклад</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>
    <table>
        <h1>Условия</h1>
        <th>№ условий</th>
        <th>Минимальная сумма</th>
        <th>Максимальная сумма</th>
        <th>Процент</th>
        <tr th:each=" term : ${allTerms}">
            <td th:text="${term.id}"></td>
            <td th:text="${term.minSum}"></td>
            <td th:text="${term.maxSum}"></td>
            <td th:text="${term.depositPercent}"></td>
        </tr>
    </table>
    <h1>Форма взятия вклада</h1>
    <form th:action="@{/add-deposit}" th:object="${addDepositForm}" method="post">
        <p>Название вклада: <input type="text" th:field="*{deposit.name}" /></p>
        <p>Сумма вклада: <input type="text" th:field="*{deposit.cash}" /></p>
        <p>Капитализуемость: <input type="checkbox" th:field="*{deposit.capitalized}" /></p>
        <p>Закрываемость: <input type="checkbox" th:field="*{deposit.closable}" /></p>
        <p>Доступность для снятия средств: <input type="checkbox" th:field="*{deposit.refillable}" /></p>
        <p>Дата окончания вклада: <input type="text" th:field="*{deposit.depositDate}" /></p>
<!--            <select class="form-control" id="term" name="term">-->
<!--                <option value="">Выберите условия</option>-->
<!--                <option th:each="terms : ${terms}"-->
<!--                        th:value="${terms}"-->
<!--                        th:text="${terms}"></option>-->
<!--            </select>-->

        <p>ID условий: <input type="text" th:field="*{deposit.term.id}" /></p>
        <p><input type="submit" value="Взять" />
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>