<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{resources/css/style.css}" />
    <title>Заявки на карты</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Все заявки</h1>
<table>
    <th>ID-заявки</th>
    <th>Статус</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Email</th>
    <th>Телефон</th>
    <tr th:each="apply : ${allApplies}">
        <td th:text="${apply.id}"></td>
        <td th:text="${apply.status}"></td>
        <td th:text="${apply.firstName}"></td>
        <td th:text="${apply.lastName}"></td>
        <td th:text="${apply.email}"></td>
        <td th:text="${apply.phone}"></td>
    </tr>
</table>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>