<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Кредиты</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>
    <h1>Все кредиты</h1>
    <table>
        <th>ID кредита</th>
        <th>Дата окончания кредита</th>
        <th>Сумма кредита</th>
        <th>Налог</th>
        <th>Валюта</th>
        <th>Внесенная сумма</th>
        <th>Статус</th>
            <tr th:each="credit : ${allCredits}">
                <td th:text="${credit.getId()}"></td>
                <td th:text="${credit.getCreditDate()}"></td>
                <td th:text="${credit.getSumOfCredit()}"></td>
                <td th:text="${credit.getFine()}"></td>
                <td th:text="${credit.getCurrency()}"></td>
                <td th:text="${credit.getDepositedSumOfCredit()}"></td>
                <td th:text="${credit.creditStatus}"></td>
                <td>
                    <a th:href="@{/deposit-credit}" class="btn btn-danger">Внести</a>
                </td>
                <td>
                    <a th:href="@{/withdraw-credit}" class="btn btn-danger">Снять</a>
                </td>
            </tr>
    </table>
    <a href="/add-credit">Взять кредит</a>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>