<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{resources/css/style.css}" />
    <title>Кредитные карты</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Все кредитные карты</h1>
<table>
    <th>ID кредитной карты</th>
    <th>Дата</th>
    <th>Процент</th>
    <th>Лимит</th>
    <th>Статус</th>
    <tr th:each="card : ${allCreditCards}">
        <td th:text="${card.id}"></td>
        <td th:text="${card.creditCardDate}"></td>
        <td th:text="${card.creditCardPercent}"></td>
        <td th:text="${card.creditCardCap}"></td>
        <td th:text="${card.cardStatus}"></td>
        <td>
            <a th:href="@{/refuse(cardId=${card.id})}" class="btn btn-danger">Отказаться</a>
        </td>
        <td>
            <a th:href="@{/credits(cardId=${card.id})}" class="btn btn-danger">Кредиты</a>
        </td>
    </tr>
</table>
<a href="/apply">Подать заявку</a>
<a href="/applies">Мои заявки</a>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>