<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{resources/css/style.css}" />
    <title>Дебетовые карты</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Дебетовые карты</h1>
<table>
    <th>ID-карты</th>
    <th>Номер карты</th>
    <th>Средства</th>
    <tr th:each="debit : ${allDebitCard}">
        <td th:text="${debit.id}"></td>
        <td th:text="${debit.cardNumber}"></td>
        <td th:text="${debit.cash}"></td>
        <td>
            <a th:href="@{/debit-transactions(id=${debit.id})}" class="btn btn-danger">История транзакций</a>
        </td>
    </tr>
</table>
<a href="/add-debit">Оформить карту</a>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>