<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Переводы между картами</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>
    <h1>История переводов между картами</h1>
    <table>
        <th>Карта снятия</th>
        <th>Карта перечисления</th>
        <th>Сумма перевода</th>
        <th>Дата перевода</th>
        <th>Статус</th>
        <tr th:each="transaction : ${allDebitCardTransactions}">
            <td th:text="${transaction.debitCard.getCardNumber()}"></td>
            <td th:text="${transaction.debitCardTo}"></td>
            <td th:text="${transaction.sum}"></td>
            <td th:text="${transaction.date}"></td>
            <td th:text="${transaction.status}"></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>