<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вклады</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>
    <h1>Вклады</h1>
    <table>
        <th>ID вклада</th>
        <th>Название вклада</th>
        <th>Сумма вклада</th>
        <th>Дата окончания вклада</th>
        <th>Доступность для снятия средств</th>
        <th>Закрываемость</th>
        <th>Капитализуемость</th>
        <th>№ условий</th>
        <tr th:each=" deposit : ${allDeposits}">
            <td th:text="${deposit.id}"></td>
            <td th:text="${deposit.name}"></td>
            <td th:text="${deposit.cash}"></td>
            <td th:text="${deposit.depositDate}"></td>
            <td th:text="${deposit.refillable}"></td>
            <td th:text="${deposit.closable}"></td>
            <td th:text="${deposit.capitalized}"></td>
            <td th:text="${deposit.term.id}"></td>
            <td>
                <a th:href="@{/close(depositId=${deposit.id})}" class="btn btn-danger">Закрыть вклад</a>
            </td>
            <td>
                <a th:href="@{/refill-deposit}" class="btn btn-danger">Пополнить</a>
            </td>
            <td>
                <a th:href="@{/withdraw-deposit}" class="btn btn-danger">Снять</a>
            </td>
        </tr>

    </table>
</div>
<div>
    <table>
    <h1>Условия</h1>
    <th>№ условий</th>
    <th>Минимальная сумма</th>
    <th>Максимальная сумма</th>
    <th>Процент</th>
    <tr th:each=" term : ${allTerms}">
        <td th:text="${term.id}"></td>
        <td th:text="${term.minSum}"></td>
        <td th:text="${term.maxSum}"></td>
        <td th:text="${term.depositPercent}"></td>
    </tr>
    </table>
        <a href="/add-deposit">Открыть вклад</a>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>