<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Подозрительные транзакции</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>
    <h1>Подозрительные транзакции по картам</h1>
    <table>
        <th>Карта снятия</th>
        <th>Карта перечисления</th>
        <th>Сумма перевода</th>
        <th>Дата перевода</th>
        <th>Статус</th>
        <tr th:each="transaction : ${allSuspiciousTransactions}">
            <td th:text="${transaction.debitCard.getCardNumber()}"></td>
            <td th:text="${transaction.debitCardTo}"></td>
            <td th:text="${transaction.sum}"></td>
            <td th:text="${transaction.date}"></td>
            <td th:text="${transaction.status}"></td>
            <td>
                <a th:href="@{/apply-transaction(transactionId=${transaction.id}, cardNumberFrom=${transaction.debitCard.getCardNumber()},
                cardNumberTo=${transaction.debitCardTo}, sum=${transaction.sum})}" class="btn btn-danger">Подтвердить перевод</a>
            </td>
            <td>
                <a th:href="@{/reject-transaction(transactionId=${transaction.id})}" class="btn btn-danger">Отклонить перевод</a>
            </td>
        </tr>
    </table>
</div>

<div>
    <h1>Подозрительные транзакции по счетам</h1>
    <table>
        <th>Аккаунт снятия</th>
        <th>Аккаунт перечисления</th>
        <th>Сумма перевода</th>
        <th>Дата перевода</th>
        <th>Статус</th>
        <tr th:each="accTransaction : ${allSuspiciousAccTransactions}">
            <td th:text="${accTransaction.account.getName()}"></td>
            <td th:text="${accTransaction.accountTo}"></td>
            <td th:text="${accTransaction.sum}"></td>
            <td th:text="${accTransaction.date}"></td>
            <td th:text="${accTransaction.status}"></td>
            <td>
                <a th:href="@{/apply-account-transaction(transactionId=${accTransaction.id}, accountNameFrom=${accTransaction.account.getName()},
                accountNameTo=${accTransaction.accountTo}, sum=${accTransaction.sum})}" class="btn btn-danger">Подтвердить перевод</a>
            </td>
            <td>
                <a th:href="@{/reject-account-transaction(transactionId=${accTransaction.id})}" class="btn btn-danger">Отклонить перевод</a>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>