<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Условия вкладов</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>
    <table>
        <h1>Условия</h1>
        <th>№</th>
        <th>Минимальная сумма</th>
        <th>Максимальная сумма</th>
        <th>Процент</th>
        <tr th:each=" term : ${allTerms}">
            <td th:text="${term.id}"></td>
            <td th:text="${term.minSum}"></td>
            <td th:text="${term.maxSum}"></td>
            <td th:text="${term.depositPercent}"></td>
            <td>
                <a th:href="@{/delete(termId=${term.id})}" class="btn btn-danger">Удалить условие</a>
            </td>
            <td>
                <a th:href="@{/edit-term/{id}(id=${term.id})}" class="btn btn-danger">Редактировать условие</a>
            </td>
        </tr>

    </table>
    <a href="/add-term">Создать условие вклада</a>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>